* {
  box-sizing: border-box;
}
#compra{
  font-family: 'calibri';
  font-size: 20px;
  color: white;
  background-color: #0B4C63;
  border: none;
  border-radius: 4px;
  padding: 0.5em;
}
#descrip{
  font-family: 'calibri';
  margin-left: 350px;
  margin-top: 10px;
  font-size: 25px;
  color: white;
}
p{
  font-family: 'calibri';
  text-align: center;
  font-size: 20px;
  margin-bottom: 10px;
}
body{
  background-image: url("../img/fondo.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;  
}
.sl{
  width: 100%;
	background-color: rgb(32, 48, 64, 0.9); 
  padding: 2em;	
  color: white;
  margin-top: 20px;
}
#logo{
  width: 40%;
}
.fa-search{
  padding: 0;
  margin: 0;
  width: 32px;
  height: 32px;
}
#b{
  width: 32px;
  height: 32px;
}
#a{
  width: 32px;
  height: 32px;
  margin-right: 10px;
  margin-bottom: 4px;
}
.topnav {
	overflow: hidden;
	background-color: #24303c;
}

.topnav a {
	margin-top: 2px;
	float: left;
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
	font-family: 'calibri';
}

.topnav a:hover {
	background-color: #0B4C63;
	color: white;
	display: block;
}

.topnav a.active {
	padding: 0;
	margin: 0;
	background-color: #0B4C63;
}

.topnav .search-container {
	float: right;
}

.topnav input[type=text] {
	padding: 6px;
	margin-top: 8px;
	font-size: 17px;
	border: none;
	border-radius: 4px;
}
  
.topnav .search-container button {
	float: right;
	padding: 6px 10px;
	margin-top: 8px;
	margin-right: 16px;
	background: #ddd;
	font-size: 17px;
	border: none;
	cursor: pointer;
  border-radius: 4px;
}
  
.topnav .search-container button:hover {
	background: #ccc;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 68px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  .fa-instagram {
    background: #125688;
    color: white;
  }
  .fa-youtube {
    background: #bb0000;
    color: white;
  }
    * {box-sizing: border-box;}
  .mySlides {display: none;}
  img {vertical-align: middle;}
  
  /* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}
  
/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
footer p{
  text-align: center;
  font-family: 'calibri';
  font-variant: small-caps;
  font-size: 16px;
  color: white;
  background-color: #24303c;
  width: 100%;
  bottom: 0;
}
footer p a{
  text-decoration: none;
  font-size: 16px;
  color: white;
}
footer p a:hover{
  text-decoration: underline;
}



body {
  font-family: Arial;
  margin: 0;
}

* {
  box-sizing: border-box;
}

img {
  vertical-align: middle;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}
@media screen and (max-width: 1200px){
 .topnav {
  overflow: hidden;
  background-color: #24303c;
}

.topnav a {
  margin-top: 2px;
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 8px 9px;
  text-decoration: none;
  font-size: 12px;
  font-family: 'calibri';
}

.topnav a:hover {
  background-color: #0B4C63;
  color: white;
  display: block;
}

.topnav a.active {
  padding: 0;
  margin: 0;
  background-color: #0B4C63;
}

.topnav .search-container {
  float: right;
}

.topnav input[type=text] {
  padding: 4px;
  margin-top: 5px;
  font-size: 12px;
  border: none;
  border-radius: 2px;
}
  
.topnav .search-container button {
  float: right;
  padding: 3px 6px;
  margin-top: 4px;
  margin-right: 10px;
  background: #ddd;
  font-size: 12px;
  border: none;
  cursor: pointer;
  border-radius: 2px;
}
  
.topnav .search-container button:hover {
  background: #ccc;
}

.sl{
width: 30em;
  height: 26em;
}
.sl div div a img {
  width: 100%;
  margin:auto;
}

}
* {
  box-sizing: border-box;
}

#body2 {
  font-family: Arial;
  margin: 0 auto; /* Center website */
  max-width: 800px; /* Max width */
  padding: 20px;
}

.heading {
  font-size: 25px;
  margin-right: 25px;
}

.fa {
  font-size: 25px;
}

.checked {
  color: orange;
}

/* Three column layout */
.side {
  float: left;
  width: 15%;
  margin-top: 10px;
}

.middle {
  float: left;
  width: 70%;
  margin-top: 10px;
}

/* Place text to the right */
.right {
  text-align: right;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* The bar container */
.bar-container {
  width: 100%;
  background-color: #f1f1f1;
  text-align: center;
  color: white;
}

/* Individual bars */
.bar-5 {width: 60%; height: 18px; background-color: #4CAF50;}
.bar-4 {width: 30%; height: 18px; background-color: #2196F3;}
.bar-3 {width: 10%; height: 18px; background-color: #00bcd4;}
.bar-2 {width: 4%; height: 18px; background-color: #ff9800;}
.bar-1 {width: 15%; height: 18px; background-color: #f44336;}

/* Responsive layout - make the columns stack on top of each other instead of next to each other */
@media (max-width: 400px) {
  .side, .middle {
    width: 100%;
  }
  /* Hide the right column on small screens */
  .right {
    display: none;
  }
}

