*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url("../img/fondo.jpg");
    background-size: cover;
}
#form_ingreso{
    width: 400px;
    background-color: rgb(32, 48, 64, 0.8);
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: 'calibri';
    color: white;
    box-shadow: 7px 13px 37px #000;
}

#form_ingreso h3{
    text-align: center;
    font-size: 22px;
    margin-bottom: 20px;
}

.datos{
    width: 100%;
    color: white;
    background-color: #24303c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #1f53c5;
    font-family: 'calibri';
    font-size: 18px;
}

#form_ingreso p{
    height: 40px;
    text-align: center;
    font-size: 18px;
}

#form_ingreso a{
    color: white;
    text-decoration: none;
}

#form_ingreso a:hover{
    color: white;
    text-decoration: underline;
}

#boton{
    width: 100%;
    background-color: #1f53c5;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
    cursor: pointer;
}

#error{
    text-decoration: underline;
}

.topnav {
	overflow: hidden;
	background-color: #24303c;
}

.topnav a {
	margin-top: 2px;
	float: left;
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
	font-family: 'calibri';
}

.topnav a:hover {
	background-color: #0B4C63;
	color: white;
	display: block;
}

.topnav a.active {
	padding: 0;
	margin: 0;
	background-color: #0B4C63;
}


.topnav input[type=text] {
	padding: 6px;
	margin-top: 8px;
	font-size: 17px;
	border: none;
	border-radius: 4px;
}
#logo{
    width: 40%;
}
footer{
    position: fixed;
    bottom: 0px;
    background-color: #24303c;
    width: 100%;
    color: white;
    font-family: 'calibri';
    font-size: 16px;
    font-variant: small-caps;
    text-align: center;
    padding: 10px;
}
footer a{
    text-decoration: none;
    color: white;
}
footer a:hover{
    text-decoration: underline;
}
  